.btn-default {
  color: #fff;
  background: linear-gradient(180deg, #faf1d5 0%, #f9d3ac 35%, #f9d3ac 100%);
  border-color: #fad3aa;
  box-shadow: none;
}

.btn-xs {
  padding: 0.2rem 0.4rem;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.text-main-color {
  color: #888;
}

.item-config {
  margin-right: 20px;
  margin-bottom: 16px;
}

.item-config .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #6c757d;
}

.item-config .banner {
  width: 200px;
  height: 400px;
}

.item-config .push-item {
  border: 4px dashed #4b545c;
  cursor: pointer;
  position: relative;
}

.item-config .push-item .action {
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: rgba(17, 17, 17, 0.4);
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding: 8px 0;
  display: none;
  font-weight: 500;
  justify-content: center;
  cursor: auto;
}

.item-config .push-item .deleteFile,
.item-config .push-item .add-link {
  cursor: pointer;
}

.item-config .push-item:hover .action {
  display: flex;
}

.item-config .text-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #6c757d;
}

.item-config .banner-modal {
  width: 350px;
  height: 350px;
}

.item-config .image-banner {
  width: 100%;
}

.item-config .wp-push {
  display: none;
  z-index: 10;
}

